.scrollpane-container-global, .scrollpane-container-global * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.scrollpane-container-global:before, .scrollpane-container-global:after {
	display: table;
	line-height: 0;
	content: '';
}
.scrollpane-container-global:after {
	clear: both;
}
.scrollpane-container-global {
    position: relative;
}
.scrollpane-container {
    margin: 0;
	overflow: hidden;
	padding: 0;
}
.scroll-x > .scrollpane-container {
    margin-bottom: 15px;
}
.scroll-y > .scrollpane-container {
    margin-right: 15px;
}
.scrollpane-area {
    display: inline-block;
    min-width: 100%;
}
.scrollpane-bar-x, .scrollpane-bar-y {
    background-color: #fff;
    cursor: default;
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}
.scrollpane-bar-x {
    bottom: 0;
    height: 14px;
    left: 0;
    right: 0;
}
.scrollpane-arrow > .scrollpane-bar-x {
}
.scroll-y > .scrollpane-bar-x {
    right: 14px;
}
.scrollpane-bar-y {
    bottom: 0;
    right: 0;
    top: 0;
    width: 14px;
}
.scrollpane-arrow > .scrollpane-bar-y {
}
.scroll-x > .scrollpane-bar-y {
    bottom: 14px;
}
.scroll-x.scrollpane-arrow > .scrollpane-bar-y {
}

.scroll-x > .scrollpane-bar-x {
	display: block;
}
.scroll-y > .scrollpane-bar-y {
	display: block;
}
.scrollpane-bar-x, .scrollpane-bar-x *, .scrollpane-bar-y, .scrollpane-bar-y * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.scrollpane-bar-x-bottom {
    position: fixed;
}


.scrollpane-line-x, .scrollpane-line-y {
    background-color: #c3dbf3;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.scrollpane-line-x:hover, .scrollpane-line-y:hover {
    background-color: #66afe9;
}
.scrollpane-arrow > .scrollpane-bar-x > .scrollpane-line-x {
    left: 12px;
    right: 12px;
}
.scrollpane-arrow > .scrollpane-bar-y > .scrollpane-line-y {
    top: 12px;
    bottom: 12px;
}
.scrollpane-track-x, .scrollpane-track-y {
    background-color: #006699;
    cursor: pointer;
    position: absolute;
}
.scrollpane-track-x:hover, .scrollpane-track-y:hover {
    background-color: #66afe9;
}
.scrollpane-track-x {
    bottom: 0;
    margin-left: 12px;
    top: 0;
}
.scrollpane-track-y {
    left: 0;
    margin-top: 12px;
    right: 0;
}
.scrollpane-arrow-up, .scrollpane-arrow-down, .scrollpane-arrow-left, .scrollpane-arrow-right {
    border-style: solid;
    border-width: 7px 10px;
    cursor: pointer;
    position: absolute;
    width: 0;
}
.scrollpane-arrow-up, .scrollpane-arrow-down {
    border-width: 10px 7px;
}
.scrollpane-arrow-up {
    border-color: transparent transparent #006699;
    left: 0;
    top: -10px;
}
.scrollpane-arrow-up:hover {
    border-color: transparent transparent #66afe9;
}
.scrollpane-arrow-down {
    border-color: #006699 transparent transparent;
    bottom: -10px;
    left: 0;
}
.scrollpane-arrow-down:hover {
    border-color: #66afe9 transparent transparent;
}
.scrollpane-arrow-left {
    border-color: transparent #006699 transparent transparent;
    left: -10px;
    top: 0;
}
.scrollpane-arrow-left:hover {
    border-color: transparent #66afe9 transparent transparent;
}
.scrollpane-arrow-right {
    border-color: transparent transparent transparent #006699;
    top: 0;
    right: -10px;
}
.scrollpane-arrow-right:hover {
    border-color: transparent transparent transparent #66afe9;
}
