.emptybasket
	text-align: center
	border-top: 1px dashed #D6D6D0 
	padding: 40px 0 60px
	&__icon
		+s(basket-big)
		display: inline-block
	&__text
		font-size: 36px 
		color: #4A485A 
		margin: 20px 0 30px
		+reg
.basketbottom
	h3
		text-align: center
		padding-bottom: 0
		margin-bottom: 0
	.slick-list
		margin-top: -20px 
.basketside
	background: #fff 
	padding: 20px 25px 30px 25px 
	position: relative
	text-align: center
	box-shadow: 0 5px 5px -5px rgba(#000,.6)
	+reg
	&:before,&:after
		position: absolute
		top: -4px
		right: -2px
		+s(basketside-right)  
		content: ' ' 
	&:after
		right: auto 
		+s(basketside-left) 
		top: -17px 
		left: -11px 
	.basketside__weight
		font-size: 12px 
		color: #858490 
		margin-bottom: 17px 
		margin-top: -17px 
	.basketside__goods
		font-size: 18px 
		color: #4A485A 
		+asbold
		position: relative
		z-index: 10 
	.basketside__amount
		+var
		color: #18171D 
		font-size: 30px 
		// margin: 15px 0 20px 
		background: url(img/priceo.png) no-repeat 50% 50%
		background-size: 100% 100%
		display: inline-block
		padding: 20px 20px 10px 20px
		margin-top: -16px 
		position: relative
		z-index: 1 
		margin-bottom: 10px 
	.basketside__economy,.basketside__bonus
		+asbold
		font-size: 14px 
		color: #EE8B30 
		margin-bottom: 10px 
	.basketside__bonus
		color: #4A485A 
		span
			font-weight: normal
			background: #FAF3D0 
			padding: 4px 4px 3px 4px
	.basketside__icon
		+s(delivery-green-small)
		display: inline-block
	.basketside__delivery
		margin-bottom: 18px 
		margin-top: 15px 
		p
			+asbold
			color: #4A485A 
			font-size: 14px 
			small
				font-size: 12px 
				color: #858490 
				+semi
				display: block
				padding-top: 1px 
	.btn-order
		padding-left: 0
		padding-right: 0
		width: 100%  
.promocode
	margin-bottom: 20px 
	a
		text-decoration: none
		&:hover
			span
				&:before
					display: none
	span
		+asblack
		vertical-align: middle
		font-size: 18px 
		color: #48B1EC 
		position: relative
		&:before
			position: absolute
			content: ""
			bottom: 2px
			left: 0
			width: 100%
			border-bottom: 1px dashed #48B1EC     
	i
		+s(question)
		display: inline-block
		margin-left: 10px 
		vertical-align: middle

