//to move
.main
	&.no-margin
		margin-bottom: 0
		&:after
			display: none


// catalog
.breadcrumbs
	margin: 20px 0
	&__list
		font-size: 14px
		+semi
		+clr
		li
			position: relative
			margin-right: 3px
			float: left
			&:after
				content: ""
				display: inline-block
				margin: 0 10px
				vertical-align: middle
				+s(arr-right-small)
			&:last-child
				&:after
					display: none
				a
					color: #7a7a7a
					&:hover
						text-decoration: none
		a
			display: inline-block
			vertical-align: middle
			color: #42b0ef
			&:visited
				color: #1a44cd

.catalog
	margin-bottom: 20px
	&__divider
		text-align: center
		overflow: hidden
		+semi
		span
			position: relative
			padding: 0 20px
			font-size: 13px
			color: #a5a29f
			&.no-pad
				padding: 0 0.5px
			&:before,
			&:after
				content: ""
				position: absolute
				width: 5000px
				top: 50%
				height: 1px
				border-bottom: 1px dashed #d8d8d2
			&:before
				left: 100%
			&:after
				right: 100%

	.row
		padding: 15px 0
	.text
		padding: 0
