//to move
.header
	&.is-dark-bg
		background-image: url(img/bg.jpg)
		-webkit-background-size: cover
		-o-background-size: cover
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		.search__input
			background: none
			border-color: #3c3a39
			color: #5b5b58
			+placeholder-color(#5b5b58)
		.search__btn
			+s(search-btn-grey)
		.nav a,
		.vip-gifts__place,
		.header__right .link-dotted,
		.header__right .header__schedule
			color: #939392
		.vip-gifts__place
			&:hover
				color: #23527c

.logo
	&.is-vip
		span
			left: 115px

.menu
	&.is-txt-white
		> .menu__item
			.menu__link
				color: #FFF
				&:before
					+s(menu-arr-brown)

.menu-decor
	&.is-brown-bg
		&:before,
		&:after
			background-color: #756c5f
		i
			&:before,
			&:after
				background-color: #756c5f

.main
	&.no-margin
		margin-bottom: 0
		&:after
			display: none

.footer
	&.is-dark-bg
		background-image: url(img/bg.jpg)
		-webkit-background-size: cover
		-o-background-size: cover
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		.footer__schedule
			color: #939392
		.search__input
			background: none
			border-color: #3c3a39
			color: #5b5b58
			+placeholder-color(#5b5b58)
		.search__btn
			+s(search-btn-grey)

.steps__list
	&.is-dark
		.i-rb-delivery
			+s(round-delivery-dark)
		.i-rb-room
			+s(r-room-dark)
		.i-rb-money
			+s(money-back-dark)
		.i-rb-mouse
			+s(r-mouse-dark)


h1,
.title-h1
	&.is-orange
		color: #ff670c
		.i-star
			padding-left: 24px
	&.is-red
		.i-star
			padding-left: 15px
	&.s-b-margin
		margin-bottom: 10px
	&.no-margin
		margin: 0

.text
	&.no-pad
		padding: 0
	&.s-margin
		p
			margin: 10px 0
	p
		&.txt-brown
			color: #706153

.social
	&.no-border
		border: none
	&.no-margin
		margin: 0
	&.no-pad
		padding: 0

.pages-mod
	&.is-fixed
		position: fixed
		left: 75px
		bottom: 20px
		z-index: 700
		visibility: hidden
		opacity: 0
		+tr(0.25s)
	&.is-active
		visibility: visible
		opacity: 1

.item
	&.is-quarter
		height: 293px
		.item__img
			width: 280px
			height: 225px
		.item__text
			max-height: 42px

.item__text
	&.is-mod
		font-size: 18px
		color: #4a485b
		+asbold

// catalog
.breadcrumbs
	margin-top: 20px
	&__list
		font-size: 14px
		+semi
		+clr
		li
			position: relative
			margin-right: 3px
			float: left
			&:after
				content: ""
				display: inline-block
				margin: 0 10px
				vertical-align: middle
				+s(arr-right-small)
			&:last-child
				&:after
					display: none
				a
					color: #7a7a7a
					&:hover
						text-decoration: none
		a
			display: inline-block
			vertical-align: middle
			color: #42b0ef
			&:visited
				color: #1a44cd
	&__more
		+s(add-small)
		vertical-align: middle
		margin-left: 4px

.catalog
	margin-bottom: 20px
	&__divider
		text-align: center
		overflow: hidden
		+semi
		span
			position: relative
			padding: 0 20px
			font-size: 13px
			color: #a5a29f
			&.no-pad
				padding: 0 0.5px
			&:before,
			&:after
				content: ""
				position: absolute
				width: 5000px
				top: 50%
				height: 1px
				border-bottom: 1px dashed #d8d8d2
			&:before
				left: 100%
			&:after
				right: 100%

	.row
		padding: 15px 0
		&.holidays
			padding: 30px 0 0
		&.s-pad
			padding: 10px 0

.sort
	text-align: right
	font-size: 14px
	&__span
		display: inline-block
		vertical-align: middle
	.select
		display: inline-block
		max-width: 90px
		vertical-align: middle
		span
			padding-left: 0
			font-size: 14px
			color: #31a4e6
		.ms-choice
			height: 19px
			line-height: 20px
			background: none
			> div
				right: 0
				margin-top: -2px
				+s(menu-arr)
			> span
				right: 10px
				+semi
		.ms-drop ul > li label
			padding: 11px 8px 11px 11px
			+semi
			&:before
				display: none
	.i
		margin-right: 5px


.sale-banner
	img
		width: 100%

.i-sort-menu
	vertical-align: middle
	+s(sort-menu)