//to move
.header
	&.is-dark-bg
		background-image: url(img/bg.jpg)
		-webkit-background-size: cover
		-o-background-size: cover
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		.search__input
			background: none
			border-color: #3c3a39
			color: #5b5b58
			+placeholder-color(#5b5b58)
		.search__btn
			+s(search-btn-grey)
		.nav a,
		.vip-gifts__place,
		.header__right .link-dotted,
		.header__right .header__schedule
			color: #939392
		.vip-gifts__place
			&:hover
				color: #23527c

.logo
	&.is-vip
		span
			left: 115px

.menu
	&.is-txt-white
		> .menu__item
			.menu__link
				color: #FFF
				&:before
					+s(menu-arr-brown)

.menu-decor
	&.is-brown-bg
		&:before,
		&:after
			background-color: #756c5f
		i
			&:before,
			&:after
				background-color: #756c5f

.main
	&.no-margin
		margin-bottom: 0
		&:after
			display: none

.footer
	&.is-dark-bg
		background-image: url(img/bg.jpg)
		-webkit-background-size: cover
		-o-background-size: cover
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		.footer__schedule
			color: #939392
		.search__input
			background: none
			border-color: #3c3a39
			color: #5b5b58
			+placeholder-color(#5b5b58)
		.search__btn
			+s(search-btn-grey)

.steps__list
	&.is-dark
		.i-rb-delivery
			+s(round-delivery-dark)
		.i-rb-room
			+s(r-room-dark)
		.i-rb-money
			+s(money-back-dark)
		.i-rb-mouse
			+s(r-mouse-dark)


h1
	&.is-orange
		color: #ff670c
		.i-star
			padding-left: 24px
	&.s-b-margin
		margin-bottom: 10px

.text
	&.no-pad
		padding: 0
	&.s-margin
		p
			margin: 10px 0

// catalog
.breadcrumbs
	margin-top: 20px
	&__list
		font-size: 14px
		+semi
		+clr
		li
			position: relative
			margin-right: 3px
			float: left
			&:after
				content: ""
				display: inline-block
				margin: 0 10px
				vertical-align: middle
				+s(arr-right-small)
			&:last-child
				&:after
					display: none
				a
					color: #7a7a7a
					&:hover
						text-decoration: none
		a
			display: inline-block
			vertical-align: middle
			color: #42b0ef
			&:visited
				color: #1a44cd

.catalog
	margin-bottom: 20px
	&__divider
		text-align: center
		overflow: hidden
		+semi
		span
			position: relative
			padding: 0 20px
			font-size: 13px
			color: #a5a29f
			&.no-pad
				padding: 0 0.5px
			&:before,
			&:after
				content: ""
				position: absolute
				width: 5000px
				top: 50%
				height: 1px
				border-bottom: 1px dashed #d8d8d2
			&:before
				left: 100%
			&:after
				right: 100%

	.row
		padding: 15px 0
		&.holidays
			padding: 30px 0 0