.main
	min-height: 100%
	margin-bottom: -445px
	&:after
		content: "" 
		display: block
		height: 445px
		clear: both
		width: 100%

.header
	background: #0c112d
	padding: 28px 0 0 
	font-size: 0
	position: relative
	z-index: 1000 
	&__left
		float: left
		width: 940px
	&__right
		width: 180px
		float: right
		text-align: left
		.btn_green
			margin: 0 0 0 5px 
		.link-dotted, .header__schedule
			font-size: 12px
			color: #91A0B7
			+semi
			text-align: left
			margin-bottom: 3px
		.link-dotted
			display: inline-block
	.search
		width: 220px
		margin: 13px 50px 0 0
		display: inline-block
		vertical-align: top
	&__menu
		padding: 35px 0 0 
	&__login
		margin: 0 0 5px 
	&__schedule
		display: block
	
.inner
	width: 1200px
	padding: 0 10px
	margin: 0 auto  
	+clr
	position: relative

.nav
	margin: 0 0 12px 
	li
		display: inline-block
		vertical-align: top
		margin: 0 28px 0 0 
		position: relative
	a
		color: #91A0B7
		+reg
		font-size: 13px
		text-decoration: none
	&__drop
		position: absolute
		top: 100%
		left: 50%
		width: 213px
		+border-radius(6px)
		background: #fff
		margin: 8px 0 0 -106px
		z-index: 300
		overflow: hidden
		display: none
		li
			margin: 0 
			display: block
		a
			color: #56544F
			display: block
			font-size: 14px
			+reg
			line-height: 20px
			padding: 13px 20px 11px 40px
			&:hover
				background-color: #F5F5F5
				+semi
				color: #040707
				&:before
					display: block
			&:before
				content: "" 
				position: absolute
				top: 50%
				left: 15px
				+svg(check, 11, 9)
				margin: -5px 0 0 
				display: none
				
		
.search
	position: relative
	&__input
		background-color: #0C112D
		border: 3px solid #3A465D
		+border-radius(20px)
		color: #586171
		font-size: 11px
		+semi
		text-transform: uppercase
		padding: 12px 40px 10px 17px
		width: 100%
		+placeholder-color(#586171)
	&__btn
		position: absolute
		top: 50%
		right: 15px
		+s(search-btn)
		margin-top: -9px
		
.gift-cards
	display: inline-block
	vertical-align: top
	margin: 0 22px 0 0 

.logo
	display: inline-block
	vertical-align: top
	position: relative
	margin: 5px 4px 0 0 
	text-decoration: none
	span
		position: absolute
		bottom: 100%
		left: 99px
		font-size: 14.81px
		letter-spacing: 0.26em 
		+asblack
		color: #FCF2EC
		text-transform: uppercase
		padding: 0 0 15px 
	&__sticker
		position: absolute
		bottom: 100%
		right: -1px
		margin: 0 0 2px 
		
.vip-gifts
	display: inline-block
	vertical-align: top
	padding: 27px 0 14px 68px
	width: 150px 
	background: url(img/diamond.png) no-repeat bottom left 
	margin: -8px 0 0 
	position: relative
	line-height: 1.2
	&__link
		font-size: 15.21px
		+asblack
		color: #F2F9FF
		text-decoration: underline
		text-transform: uppercase
		display: inline-block
		i
			display: inline-block
			vertical-align: top
			+opacity(0.6)
			+svg(gift-arr, 16, 11)
			margin: 2px 5px 0
	&__place
		position: absolute
		bottom: 100%
		left: 0
		right: 0
		color: #91A0B7
		font-size: 13px
		+reg
		text-decoration: underline
		padding: 0 0 0 35px 
		margin: 0 0 -5px 
		i
			text-decoration: none
			position: absolute
			left: 15px
			top: 1px
			font-size: 17px
		
.phone
	font-size: 22px
	color: #FBF1EB
	text-transform: uppercase
	+var
	display: block
	margin-bottom: 2px

.menu
	font-size: 0
	float: left
	a
		text-decoration: none
	&__item
		display: inline-block
		vertical-align: top
		margin: 0 45px 0 0 
		padding: 2px 0 17px  
		position: relative	
		&.is-drop
			.menu__link		
				padding: 0 15px 0 0		
				&:before
					content: ""
					position: absolute
					top: 50%
					right: 0
					+s(menu-arr)
					margin-top: -3px
					transform-origin: center center
				&:after
					position: absolute
					top: 100%
					left: 50%
					+s(m-drop)
					content: ""
					display: none
					margin: 9px 0 0 -16px
					z-index: 3 
			&:hover
				.m-reason, .m-drop
					+opacity(1)
					visibility: visible
					max-height: 1000px
					+transition(max-height 0.4s, visibility 0.1s, opacity 0.1s)
		&:hover
			.menu__link
				&:before
					+scaleY(-1)	
				&:after
					display: block
		&.is-he
			.m-drop
				left: 0
			.m-drop__item
				&:hover
					.m-drop__link
						background: url(img/svg/drop-he.svg) no-repeat left center 
		&.is-she
			.m-drop__item
				&:hover
					.m-drop__link
						background: url(img/svg/drop-she.svg) no-repeat left center 
		&.is-two
			.m-drop__item
				&:hover
					.m-drop__link
						background: url(img/svg/drop-two.svg) no-repeat left center 
		&.is-corporate
			.m-drop__item
				&:hover
					.m-drop__link
						background: url(img/svg/drop-corporate.svg) no-repeat left center 
		&.is-reason
			.m-drop__item
				&:hover
					.m-drop__link
						background: url(img/svg/drop-reason.svg) no-repeat left center 
		&.is-catalog
			position: static
			.m-drop
				left: 10px
				right: 10px
				width: auto
			.m-drop__item
				&:hover
					.m-drop__link
						background: url(img/svg/drop-catalog.svg) no-repeat left center 
			.m-drop__link
				width: 188px
	&__link
		font-size: 20px
		color: #91A0B7
		+asblack
		display: inline-block
		position: relative
		&.is-he
			color: #42B0EF
		&.is-she
			color: #FF66AD
		&.is-two
			color: #AC24D9
		&.is-corporate
			color: #82CD17
		&.is-reason
			color: #FC535F
		&.is-catalog
			color: #FF670C
		&.is-new
			color: #FF7B84

.menu-decor
	position: relative
	width: 5px
	float: left
	&:before, &:after, i:before, i:after
		content: "" 
		width: 5px
		height: 5px
		background-color: #4A5867
		+border-radius(50%)
		display: block
		margin: 0 0 4px
	&:after
		margin: 0 
		
.basket
	float: right
	width: 200px
	margin: -6px 0 0 
	padding: 0 0 19px 
	min-height: 53px	
	&:before
		position: absolute
		bottom: 0
		right: 170px
		content: "" 
		+s(m-drop)
		display: none
		z-index: 2
	&:hover
		.b-drop
			+opacity(1)
			visibility: visible
			max-height: 1000px
			+transition(max-height 0.4s, visibility 0.1s, opacity 0.1s)
		&:before
			display: block
	span
		&.is-items
			+asblack
	&__amount
		float: left
		span
			font-size: 20px
			display: inline-block
			vertical-align: top
			line-height: 1
			padding: 13px 0 0 
			color: #fff
	&__icon
		width: 36px
		text-align: center
		background: url(img/svg/basket.svg) no-repeat center center 
		margin: 0 10px 0 0 
		+var
	&__money
		float: right
		padding: 14px 0 0 
		span			
			font-size: 20px
			display: inline-block
			vertical-align: top
			line-height: 1
			color: #FF670C
			position: relative
			padding: 0 15px 0 0 
			+var
			&:before
				content: ""
				position: absolute
				top: 50%
				right: 0
				+s(menu-arr)
				margin-top: -3px
			i
				text-decoration: line-through
	
.b-drop
	position: absolute
	top: 100%
	right: 10px
	background: #fff 
	+box-shadow(0 0 29px rgba(0, 0, 0, 0.1))
	+border-radius(7px)
	width: 483px
	padding: 17px 30px 23px 19px 
	// display: none
	overflow: hidden
	max-height: 0
	visibility: hidden
	+opacity(0) 
	&.is-not-scroll
		padding-right: 19px
		width: 472px
		.b-drop__shadow
			display: none
	.scrollable .scroll-bar.vertical
		right: -19px
		width: 7px
	.scrollable .scroll-bar.vertical .thumb
		background: #cfcfcf
		+border-radius(7px) 
		cursor: pointer
	&__bottom
		+clr
		padding: 21px 0 
	&__text
		text-align: center
		padding: 16px 0 14px
		border-bottom: 1px solid #fafafa 
		p
			color: #515151
			font-size: 13px
			+semi
			line-height: 18px
			b
				color: #000
				background-color: #E5FFCC
				+border-radius(2px)
				padding: 0 4px 
	&__result
		float: left
		span
			color: #000
			font-size: 24px
			+asblack
			display: block
			margin-bottom: 3px
			line-height: 1
		small
			line-height: 16px
			font-size: 11px
			color: #000
			+semi
			background-color: #FFFDCC
			+border-radius(2px)
			padding: 2px 4px 0 
			display: inline-block
	.button
		float: right
	&__items
		position: relative
		height: 214px
	&__scroll
		z-index: 2 
	&__shadow
		height: 10px
		position: absolute
		bottom: 0
		left: 0
		right: 0
		overflow: hidden
		&:before
			position: absolute
			bottom: -1px
			left: 0
			right: 0
			+box-shadow(0px 0px 5px 1px rgba(228,228,228,0.4))
			content: "" 
			height: 1px
		

.b-item
	+clr
	padding: 0 25px 13px 0
	position: relative 
	border-bottom: 1px solid #fafafa 
	margin: 0 0 13px 
	&:hover
		.b-item__delete
			+s(b-close-active)
	&__delete
		position: absolute
		top: 9px
		right: 0
		+s(b-close)
		cursor: pointer
	&__left
		float: left
		width: 250px
	&__right
		float: right
		width: 155px
		padding: 9px 0 0 
	&__img
		display: inline-block
		vertical-align: middle
		width: 49px
		height: 49px
		overflow: hidden
		+border-radius(2px)
		img
			width: 100%
			height: 100%
	&__info
		display: inline-block
		vertical-align: middle
		padding: 0 14px
		width: 200px 
	&__title
		font-size: 12px
		+semi
		color: #000 
		line-height: 1.2
		display: block
		&:hover
			color: #000 
	&__small
		display: block
		color: #9f9f9f
		font-size: 11px
		+reg
		line-height: 1.2 
		&:hover
			color: #9f9f9f 
	&__amount
		float: left
	&__price
		overflow: hidden
		text-align: right
		span
			+semi
			font-size: 12px
			color: #000 
			display: block
			margin: 0 0 5px 
				
.m-drop
	position: absolute
	top: 100%
	left: -40px
	background: #fff 
	+box-shadow(0 2px 9.7px 0.3px rgba(0, 0, 0, 0.19))
	+border-radius(7px)
	padding: 7px 
	width: 822px
	height: 337px
	// display: none
	overflow: hidden
	max-height: 0
	visibility: hidden
	+opacity(0) 
	&__item
		width: 215px
		&:hover
			.m-drop__drop, .m-drop__container
				display: block
			.m-drop__link
				color: #fff 
				&:before
					+s(drop-arr-hover)
	&__link
		font-size: 14px
		+semi
		color: #56544F
		padding: 16px 16px 15px
		display: inline-block
		width: 170px
		letter-spacing: 0.025em 
		position: relative
		&:before
			content: ""
			position: absolute
			top: 50%
			right: 18px
			+s(drop-arr)
			margin-top: -4px
	&__drop
		position: absolute
		top: 7px
		left: 222px
		right: 7px
		bottom: 7px
		padding: 2px 0 
		display: none
		ul
			width: 33.3%
			float: left
			a
				font-size: 14px
				letter-spacing: 0.025em 
				+semi
				color: #56544F
				line-height: 39px
				display: block
				&:hover
					text-decoration: underline
	&__container
		position: absolute
		top: 7px
		left: 222px
		right: 7px
		bottom: 7px
		padding: 2px 0 
		display: none
	&__col
		width: 25%
		float: left
		ul
			a
				font-size: 14px
				letter-spacing: 0.025em 
				+semi
				color: #56544F
				line-height: 39px
				display: block
				padding: 0 12px 
				&:hover
					text-decoration: underline
	&__title
		color: #000		
		font-size: 14px
		letter-spacing: 0.025em 
		+semi
		line-height: 39px
		display: block
		&:hover
			color: #000 
			text-decoration: underline
			
.m-reason
	position: absolute
	top: 100%
	left: 50%
	+border-radius(7px)
	+box-shadow(0 2px 9.7px 0.3px rgba(0, 0, 0, 0.19))
	width: 182px
	background: #fff
	margin: 0 0 0 -91px
	padding: 5px  
	text-align: center
	// display: none
	overflow: hidden
	max-height: 0
	visibility: hidden
	+opacity(0) 
	ul
		text-align: left
		padding: 5px 0 0
		li
			padding: 8px 0 
		a
			display: block
			position: relative
			padding: 0 0 0 50px 
			height: 39px
			+vertical
			text-align: left
			span
				line-height: 18px
				display: inline-block
				vertical-align: middle
				font-size: 14px
				+reg
				color: #000
				letter-spacing: 0.025em 
			&:hover
				span
					color: #4A485B
					text-decoration: underline
			&:after
				content: "" 
				position: absolute
				top: 50%
				left: 5px
			&.is-tooth
				&:after
					+svg(tooth, 27, 27)
					margin: -15px 0 0 5px 
			&.is-saint
				&:after
					+svg(saint, 31, 32)
					margin: -18px 0 0 4px 
			&.is-new-home
				&:after
					+s(drop-home)
					margin: -19px 0 0 
			&.is-smile
				&:after
					+s(drop-smile)
					margin: -15px 0 0 1px 
			&.is-memory
				&:after
					+s(drop-memory)
					margin: -14px 0 0 3px 
			&.is-anniversary
				&:after
					+s(drop-anniversary)
					margin: -17px 0 0 7px
	&__btn
		color: #EB778F
		font-size: 16px
		+as
		line-height: 18px
		+border-radius(5px)
		background: #f7f7f4
		position: relative
		padding: 10px 13px 9px 
		display: inline-block
		&:hover
			color: #EB778F 
		&:active
			top: 1px 

.rub
	text-decoration: line-through
	
.footer
	height: 445px
	background: #2e3146 
	padding: 35px 0 30px
	font-size: 0
	&__top
		border-bottom: 1px dashed #494b5c 
		+clr
		padding: 0 0 32px 
	.btn-comment
		float: left
		margin-right: 50px
	.link-dotted
		font-size: 13px
	.search
		float: right
		width: 280px
		margin: 4px 0 0 
		&__input
			background: #2e3146 
	&__mail
		line-height: 1
		float: left
		padding: 3px 0 0
		margin-right: 55px
		span, small
			display: block
		span
			font-size: 28px
			+var
			color: #4badf4 
			margin-bottom: 5px
		small
			color: #91a0b7
			+semi
			font-size: 13px
	&__phone
		line-height: 1
		float: left
		+clr
		padding: 3px 0 0
		span
			font-size: 28px
			+var
			color: #f1f1f1
			display: block
			margin-bottom: 5px
		.link-dotted
			color: #4badf4
			border-color: #4badf4  
			float: left
	&__schedule
		color: #91a0b7
		font-size: 13px
		+semi
		float: right 
	&__body
		padding: 27px 0 22px 
		border-bottom: 1px dashed #494b5c 
		+clr
		p
			display: inline-block
			vertical-align: middle
			width: 260px
			font-size: 16px
			+as
			line-height: 19px
			color: #b4b6bb 
			padding: 0 5px 
	&__logos
		display: inline-block
		vertical-align: middle
		li
			display: inline-block
			vertical-align: middle
			margin: 0 22px 0 20px 
	&__more
		float: right
		width: 166px
		padding: 3px 0 3px 70px
		position: relative
		&:before
			position: absolute
			top: 50%
			left: 0
			content: "" 
			+s(ft-deco)
			margin: -4px 0 0 
		a
			display: block
			+as
			font-size: 16px
			line-height: 19px
			color: #4badf4 
			text-decoration: underline
	&__bottom
		+clr
		padding: 26px 0 0 
	&__logo
		text-align: center
		float: left
		text-decoration: none
		margin: 4px 65px 0 0
		&:hover
			text-decoration: none
		img
			margin-bottom: 7px
		span
			+bold
			color: #f96868
			font-size: 12px
			display: block 
	&__col
		width: 200px
		float: left
		padding: 10px 0 0 
	&__title
		color: #ECECE4
		font-size: 16px
		+asblack
		padding: 0 5px 12px
		display: block 
	&__list
		li
			padding: 2px 0 
		a
			color: #C8C9CD
			font-size: 13px
			+semi
			line-height: 16px
			padding: 0 5px 
			&:hover
				color: #fff
				text-decoration: none
			&.is-red
				background-color: #FF4949
				color: #fff
			&.is-pink
				background-color: #F37DD0
				color: #fff
			&.is-green
				background-color: #a0bf5d
				color: #fff
	&__bitrix
		float: right
		width: 182px
		
.unlikers
	text-align: center
	max-width: 130px
	margin: 0 auto 12px
	display: block
	position: relative
	&:hover
		text-decoration: none
	&:before
		position: absolute
		bottom: 10px
		left: 100%
		+s(unlikers-arr)
		content: "" 
	img
		width: 122px
		margin-bottom: 10px
	p
		color: #91A0B7
		font-size: 12px
		+semi
		line-height: 1.2
	b
		color: #F95997
		
.bitrix
	display: inline-block
	vertical-align: top
	width: 182px
	img
		width: 100%
		
.form
	&__label, p
		color: #716D6D
		font-size: 18px
		+as
		display: block
		line-height: 1.2
	&__label
		margin-bottom: 12px
	&__box
		margin-bottom: 14px
	&__field
		width: 370px
		padding: 0 45px 
		margin: 0 auto 
		position: relative
		&.is-hide
			display: none
	&__number
		position: absolute
		top: 0
		left: 0
		color: #9F9B9B
		font-size: 30px
		+var
		padding: 13px 0 9px
	&__check
		position: absolute
		top: 50%
		right: 0
		+s(check-gray)
		margin: -10px 0 0 
	p
		margin-bottom: 14px
		
.content
	&__title
		font-size: 24px
		color: #000
		font-family: Arial, sans-serif
		font-weight: normal
		line-height: 1
		display: block
		margin: 20px 0   

.text
	padding: 20px 0 30px 
	
.alerts
	padding: 20px 0 20px 

.alert
	+vertical
	text-align: left
	+border-radius(7px)
	background-color: #FFAAAC
	height: 63px
	width: 100%
	max-width: 762px
	padding: 3px 20px 0 68px
	position: relative
	border: none
	margin: 0 0 14px 
	&:after
		position: absolute
		top: 14px
		left: 17px
		+s(alert)
		content: "" 
	span
		display: inline-block
		vertical-align: middle
		font-size: 16px
		color: #FFF
		+asbold
		line-height: 18px
		
//slider
.slider-banner
	position: relative
	max-width: 480px

.slider-big
	position: relative

.slide-big
	// position: relative
	width: 100%
	background: #e9deb5
	+border-radius(13px) 
	padding: 53px 20px 
	+clr
	position: absolute
	top: 0
	left: 0
	+opacity(0)
	visibility: hidden
	+transition(opacity 0.4s, visibility 0.4s)
	&.is-active
		+opacity(1)
		visibility: visible
		position: relative
	.btn-new
		position: absolute
		top: 15px
		left: 19px
		z-index: 2
	&__img
		width: 191px
		height: 257px
		+vertical
		float: left
		img
			max-width: 100%
			max-height: 100% 
			display: inline-block
			vertical-align: middle
	&__text
		overflow: hidden
		padding: 5px 0 0 20px 
		p
			font-size: 22px
			color: #857554
			line-height: 18px
			+asbold
			margin: 0
	&__title
		color: #853108
		font-size: 34px
		+asblack
		line-height: 1
		margin-bottom: 5px
		display: block
		&:hover
			color: #853108
	&__desc
		+asbold
		color: #AF9665
		font-size: 24px
		line-height: 1
		display: block
		margin-bottom: 20px
	&__price
		position: absolute
		bottom: 115px
		left: 15px
		color: #721107
		+var
		font-size: 30px
		padding: 0 12px
		z-index: 2
		&:before
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background: #ffe6ab
			+rotate(-4) 
			content: "" 
			-webkit-transform-origin: left center 
			-moz-transform-origin: left center 
			-ms-transform-origin: left center 
			-o-transform-origin: left center 
			transform-origin: left center 
			+border-radius(5px)
		b
			position: relative
			z-index: 2
	
.slide-med
	position: relative
	background: url(../img/slide-med-bg.png) no-repeat center center #98deeb 
	+border-radius(13px) 
	padding: 25px 23px 102px
	+clr
	position: absolute
	top: 0
	left: 0
	+opacity(0)
	visibility: hidden
	+transition(opacity 0.4s, visibility 0.4s)
	&.is-active
		+opacity(1)
		visibility: visible
		position: relative
	&__top
		font-size: 0
		span, small
			display: inline-block
			vertical-align: middle
		span
			color: #094C72
			font-size: 36px
			+asblack
			line-height: 1
			padding: 2px 0 0 
			margin: 0 15px 0 0 
		small
			color: #094C72
			font-size: 13px
			+asbold
			line-height: 15px
			max-width: 140px
			b
				background: #caf2f9 
				padding: 0 7px 
				+border-radius(7px)
				display: inline-block
	&__img
		float: left
		width: 213px
		text-align: center
		position: relative
		height: 178px
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%
	&__text
		overflow: hidden
		text-align: right
		+clr
		padding: 35px 0 0 
		p
			color: #4B717C
			font-size: 16px
			+asbold
			line-height: 17px
			margin: 0
			max-width: 180px 
			float: right
	&__price
		position: absolute
		bottom: 44px
		left: 5px
		color: #721107
		+var
		font-size: 30px
		padding: 0 12px
		z-index: 2
		&:before
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background: #ffe6ab
			+rotate(-4) 
			content: "" 
			-webkit-transform-origin: left center 
			-moz-transform-origin: left center 
			-ms-transform-origin: left center 
			-o-transform-origin: left center 
			transform-origin: left center 
			+border-radius(5px)
		b
			position: relative
			z-index: 2
	&__title
		font-size: 36px
		color: #F0F7F9
		+asblack
		line-height: 40px
		margin-bottom: 35px
		display: inline-block
		&:hover
			color: #F0F7F9
			
.slider-small
	position: absolute
	bottom: 0
	left: 10px
	right: 10px
	padding: 0 0 21px 
	font-size: 0
	text-align: center
.slide-small, .slide-small_mod
	cursor: pointer
	display: inline-block
	vertical-align: top
	position: relative
	margin: 0 13px 
	font-size: 0	
	&.is-active
		&:before
			display: block
	&:before
		position: absolute
		bottom: -21px
		+arr(18, 10, #ecece4, t)
		left: 50%
		margin-left: -9px
		content: "" 
		display: none
	img
		width: 100%
		height: 100%

.slide-small
	width: 61px
	height: 61px
	
.slide-small_mod
	width: 58px
	height: 58px
	
//banners
.banner
	display: inline-block
	max-width: 100%
	font-size: 0
	+border-radius(13px)
	overflow: hidden
	img
		width: 100%

.action
	position: relative
	display: block
	padding: 0 50px 0 0 
	&__info, &__percent
		background: #c5e7e9 
		+border-radius(13px)
	&__info
		padding: 20px 10px 19px 18px
		position: relative
		&:after
			position: absolute
			right: -3px
			top: 7px
			bottom: 7px
			border-right: 3px dotted #c3e6e8
			content: ""  
	&__percent
		position: absolute
		top: 121px
		bottom: 0
		right: 0
		+rotate(90)
		width: 121px
		height: 50px
		-webkit-transform-origin: top right 
		-moz-transform-origin: top right 
		-ms-transform-origin: top right 
		-o-transform-origin: top right 
		transform-origin: top right 
		text-align: center
		span
			color: #4B94BD
			font-size: 34px
			+var
			display: block
			padding: 3px 0 0 
	&__title
		color: #4B95BE
		font-size: 21px
		+asblack
		margin-bottom: 7px
		display: block
	small
		font-size: 17px
		color: #FFF
		+asblack
		display: inline-block
		line-height: 23px
		b
			padding: 0 10px 0 7px
			background: url(../img/action-price.png) no-repeat top center
			-webkit-background-size: contain 
			-o-background-size: contain 
			background-size: contain 
			display: inline-block
			
.panel
	background: rgba(255, 255, 255, 0.95)
	padding: 21px 8px 18px 13px 
	display: inline-block
	vertical-align: top
	font-size: 0
	+border-radius(4px)
	&__item
		display: inline-block
		vertical-align: middle
		margin: 0 14px 
		&.is-calendar
			+s(calendar)
			&:hover, &.is-active
				+s(calendar-active)
		&.is-now
			+s(now)
			&:hover, &.is-active
				+s(now-active)
		&.is-view
			+s(view)
			&:hover, &.is-active
				+s(view-active)
		&.is-right
			margin: 0 6px 
			+arr(7, 13, #d9d9d2, r)
			&:hover, &.is-active
				+arr(7, 13, darken(#d9d9d2, 10%), r)
				
.my-tooltip
	color: #747474
	font-size: 13px
	+reg
	+box-shadow(0 0 30px rgba(0, 0, 0, 0.14))
	background-color: #FFF
	display: inline-block
	vertical-align: top
	padding: 9px 13px 7px
	+border-radius(2px) 

//pages
.pages
	text-align: center
	font-size: 0
	&__list, &__span, &__btn
		display: inline-block
		vertical-align: middle
	&__list
		li
			display: inline-block
			vertical-align: top
	&__list a, &__btn
		+asbold
		color: #56544F
		font-size: 18px
		line-height: 50px
		width: 52px
		text-align: center
		background: #fff
		display: inline-block
		text-decoration: none
		+border-radius(4px)
		margin: 0 9px 
		padding: 2px 0 0
		&:hover, &:active, &.is-active, &:visited
			background-color: #77DDF1
			color: #fff 
			text-decoration: none
	&__span
		font-size: 18px
		color: #939393
		+asbold
		margin: 0 9px 
		
.pages-mod
	font-size: 0
	position: relative
	text-align: center  
	&__inner
		position: relative
		display: inline-block
		+border-radius(4px)
		background: rgba(255, 255, 255, 0.95)
		padding: 18px 25px
	&__list
		display: inline-block
		vertical-align: middle
		li
			display: inline-block
			vertical-align: middle
			margin: 0 3px
		a, span
			font-size: 18px
			+asblack
			width: 26px
			line-height: 24px
			display: inline-block
			text-align: center
			padding: 2px 0 0
			+border-radius(4px)
		a
			color: #56544F
			text-decoration: none
			&:hover, &:visited, &:active, &.is-active
				background: #7de3f8
				color: #fff  
				text-decoration: none
		span
			color: #939393
	&__prev, &__next
		position: absolute
		top: 50%
		margin-top: -5px
	&__prev
		+s(drop-arr-left)
		left: 13px
	&__next
		+s(drop-arr)
		right: 13px

.items
	.banner
		margin: 15px 0 
		
.item
	padding: 10px 0 
	&:hover
		.item__btns
			left: 7px
			ul
				display: block
			&.is-orange
				background: #fff
				.item__price
					color: #6C6161 
	&__img
		position: relative
		font-size: 0
		border-radius: 10px
		overflow: hidden
		margin-bottom: 15px
		img
			max-width: 100%
	&__btns
		position: absolute
		right: 7px
		bottom: 7px
		background-color: #FFF
		border-radius: 4px
		+clr
		padding: 0 7px 0 10px 
		&.is-orange
			background-color: #FF995C
			.item__price
				color: #fff 
		ul
			float: left
			padding: 5px 0 
			display: none
		li
			display: inline-block
			vertical-align: bottom
			margin: 0 9px 0 0 
	&__price
		float: right
		font-size: 15px
		color: #6C6161
		+var
		line-height: 25px
		padding: 2px 0 0 
	&__text
		color: #716D6D
		font-size: 14px
		+semi
		line-height: 1.2
		display: block
		text-align: center
		
		
//icons
.i-right-big
	+s(i-right)
.i-rb-delivery
	+s(round-delivery-gray)
.i-rb-room
	+s(r-room-gray)
.i-rb-money
	+s(money-back)
.i-rb-mouse
	+s(r-mouse)

//steps
.steps
	font-size: 0
	width: 1180px
	margin: 0 auto 
	position: relative
	padding: 20px 0 19px
	border-bottom: 1px dashed #d8d8d2 
	.btn-close
		position: absolute
		top: 33px
		right: 22px
	&__text
		width: 260px
		display: inline-block
		vertical-align: middle
		color: #72726B
		font-size: 15px
		+asbold
		line-height: 19px
		padding: 0 50px 0 0
		position: relative
		margin: 0 45px 0 0 
		span
			background-color: #FFF09F
			padding: 0 2px 
		.i
			position: absolute
			top: 50%
			right: 0
			margin-top: -7px
	&__list
		display: inline-block
		vertical-align: middle
		li
			display: inline-block
			vertical-align: top
			width: 200px
			a
				display: block
				position: relative
				color: #72726B
				font-size: 14px
				+asbold
				line-height: 19px
				&:hover
					text-decoration: none
				.i
					float: left
					margin: 0 10px 0 0
				span
					display: block
					overflow: hidden
					padding: 2px 0 2px 0 

//product
.product
	padding: 10px 0 
	margin: 37px 0 0
	position: relative 
	&:hover
		.product__btns
			left: 11px
			ul
				display: block
	.badge-mod
		position: absolute
		top: 18px
		left: 10px
		z-index: 5
	&__img
		position: relative
		font-size: 0
		border-radius: 10px
		overflow: hidden
		margin-bottom: 15px
		img
			max-width: 100%
	&__btns
		position: absolute
		right: 11px
		bottom: 45px
		background-color: #FFF
		border-radius: 4px
		+clr
		padding: 0 7px 0 10px 
		&.is-orange
			background-color: #FF995C
			.item__price
				color: #fff 
		ul
			float: left
			padding: 5px 0 
			display: none
		li
			display: inline-block
			vertical-align: bottom
			margin: 0 9px 0 0 
	&__price
		float: right
		font-size: 15px
		color: #6C6161
		+var
		line-height: 25px
		padding: 2px 0 0 
	&__text
		color: #716D6D
		font-size: 14px
		+semi
		line-height: 1.2
		display: block
		text-align: center

//remind
.remind
	text-align: center
	background: #f9f9f6 
	padding: 15px 14px 20px 15px 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
	position: relative
	margin: 52px 0 0 
	&:after
		position: absolute
		top: -52px
		left: 50%
		margin-left: -17px
		content: ""
		+s(remind-deco)
	&__text
		+s(remind-text)
		color: #282828
		font-size: 16px
		+asbold
		line-height: 19px
		margin-left: -7px
		margin-bottom: 2px
	&__days
		background: url(../img/icons/remind-day.png) no-repeat center top 
		padding: 20px 20px 10px
		span, small
			display: block
			color: #413939
		span
			font-size: 48px
			+var
			line-height: 40px
		small
			font-size: 24px
			+asblack
			line-height: 1
	&__field
		margin-bottom: 10px
		label
			display: block
			position: relative
			&:after
				position: absolute
				top: 50%
				right: 10px
				+s(remind-arr)
				margin-top: -6px
				content: "" 
		span
			font-size: 12px
			+asbold
			color: #636363
			display: block
			text-align: center
			margin-bottom: 10px
	&__input
		width: 100%
		font-size: 14px
		+semi
		color: #C8C8C8
		padding: 6px 20px 5px 10px
		background-color: #F9F9F6
		border: 2px solid #DDDDD5
		border-radius: 2px
	&__link
		color: #25C7EA
		text-decoration: underline
		font-size: 24px
		+asbold
	&__for, p
		font-size: 14px
		+asbold
		color: #676760
		line-height: 1.2
		margin-bottom: 5px
		position: relative
		p
			padding: 0 2px 
		span
			color: #25C7EA
			border-color: #25C7EA 
			cursor: pointer
		ul
			position: absolute
			background-color: #FFF
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.14)
			text-align: center
			padding: 0 12px 
			border-radius: 5px
			visibility: hidden
			opacity: 0
			+transition(opacity 0.3s, visibility 0.3s)
			&.is-active
				opacity: 1
				visibility: visible
			li
				color: #676760
				cursor: pointer
				width: 60px
				border-top: 1px solid #f5f5f3 
				position: relative
				line-height: 31px
				&:hover				
					color: #25C7EA
					&:before
						display: none
				&:first-child
					border-top: none
				&:before
					opacity: 0.4
					width: 5px
					height: 5px
					background-color: #90908A
					content: "" 
					border-radius: 50%
					content: "" 
					position: absolute
					top: 50%
					left: -4px
					margin-top: -3px
			
			
//m-slider
.m-slider
	position: relative 
	padding: 32px 0 0 
	&__inner		
		height: 349px
		position: relative
		background: url(../img/m-slider.png) no-repeat center center
		overflow: hidden
	&__btns
		font-size: 0
		text-align: center
		padding: 7px 0 34px 
		position: absolute
		bottom: 0
		left: 0
		right: 0
		li
			display: inline-block
			vertical-align: top
			padding: 5px 
			a
				color: #fff
				font-size: 16px
				+asblack
				line-height: 41px
				padding: 0 20px
				display: inline-block
				border-radius: 10px  
				position: relative
				&:hover, &.is-active					
					background: rgba(255, 255, 255, 0.3)
					text-decoration: none 
	.slick-dots
		left: auto
		right: 60px
		width: 200px
		bottom: 90px
		li
			padding: 0
			margin: 0 2px  
		button
			+box-shadow(none)
			background-color: #FBD7C1
			width: 7px
			height: 7px
		.slick-active
			button
				background-color: #C8692D
	.slick-next, .slick-prev
		margin-top: -23px
		border-radius: 50%
		background: #fff 
		width: 46px
		height: 46px
		&:before
			content: "" 
			line-height: 1
			font-size: 0
			height: auto
	.slick-next
		&:before
			+s(m-next)
			margin: 2px 0 0 2px
	.slick-prev
		&:before
			+s(m-prev)
			margin: 2px 2px 0 0

.m-slide
	padding: 27px 60px 0 69px
	+clr
	background: url(../img/m-slider.png) no-repeat top center
	&__big
		float: left
		width: 450px
		+clr
		position: relative
	&__small
		width: 200px
		float: right
		+clr
		padding: 18px 0 0 
	&__item
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		+transition(all 0.3s)
		&.is-active
			position: relative
			visibility: visible
			opacity: 1
	&__img
		width: 153px
		float: left
		margin: 0 10px 0 0 
		img
			max-width: 100%
	&__text
		overflow: hidden
		padding: 25px 0 0
	&__title
		color: #FFF
		font-size: 37px
		+asblack
		line-height: 1.1
		display: inline-block
		margin-bottom: 10px
		&:hover
			color: #fff 
	p
		color: #F3E8D4
		font-size: 16px
		+asbold
		line-height: 18px
		padding: 0 0 5px 
	&__price
		color: #721107
		+var
		font-size: 30px
		padding: 2px 12px 3px
		z-index: 2
		position: relative
		margin: 10px 2px 15px
		display: inline-block
		&:before
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background: #ffe6ab
			+rotate(-2) 
			content: "" 
			-webkit-transform-origin: left center 
			-moz-transform-origin: left center 
			-ms-transform-origin: left center 
			-o-transform-origin: left center 
			transform-origin: left center 
			+border-radius(5px)
		b
			position: relative
			z-index: 2
	&__photo
		float: left
		padding: 8px
		cursor: pointer
		&.is-active
			background: url(../img/icons/m-slide-active.png) no-repeat center center
		img
			width: 50px
			height: 50px
			display: block

.top
	margin-bottom: 30px 