// styles for order pages
.i
	&.i-r-basket-gray
		+s(r-basket-gray)
	&.i-r-basket-green
		+s(r-basket-green)
	&.i-r-money
		+s(r-money)
	&.i-r-money-green
		+s(r-money-green)
	&.i-r-check-gray
		+s(r-check-gray)
	&.i-r-check-green		
		+s(r-check-green)
	&.i-remind-deco
		+s(remind-deco)	
	&.i-ardecado-small
		+s(ardecado-small)	
.ordering
	position: relative
	text-align: center
	margin-bottom: 35px
	.ordering__in
		padding-top: 10px
		font-size: 0
		& > .i
			vertical-align: middle
			margin: 0 15px
	.ordering__step
		display: inline-block
		vertical-align: middle
		font-size: 0
		.i, span
			display: inline-block
			vertical-align: middle
		.i
			margin-right: 10px
			&.i-r-basket-green, &.i-r-money-green, &.i-r-check-green
				display: none 
		span
			+asbold
			font-size: 20px
			color: #888681
		&.is-active
			.i
				&.i-r-basket-green, &.i-r-money-green, &.i-r-check-green
					display: inline-block
				&.i-r-basket-gray, &.i-r-money, &.i-r-check-gray
					display: none
			span
				+asblack
				color: #4a485b			
.order-wrap
	max-width: 1280px
	margin: 0 auto 68px
	border-radius: 8px
	background: #e4ebcc
	border: 16px solid #fbfbfa
	box-shadow: 0 5px 49px rgba(0, 0, 0, 0.17)
.order
	background: #e4ebcc
	padding: 32px  
.bill
	position: relative
	background: #fff
	padding: 5px
	margin-bottom: 20px
	&:before
		content: ""
		position: absolute
		top: -24px
		left: -4px
		+s(remind-deco)
		+rotate(15)
		z-index: 2
	&:after
		content: ""
		position: absolute
		top: -2px
		right: 0
		width: 69px
		height: 67px
		background: url(img/paper.png) 0 0 no-repeat	
	.bill__in
		position: relative
		+g(#fff, #fbfafa)
		&:before
			content: ""
			position: absolute
			top: 156px
			right: -39px
			+s(ardecado-small)
			z-index: 2
		p
			font-size: 12px
			color: #858490
	.bill__topper
		text-align: center
		padding-top: 25px
		padding-bottom: 12px
		margin-bottom: 10px 
		border-bottom: 1px dashed #eee 
		.title-h6
			margin: 0
	.bill__content
		text-align: center
		padding-bottom: 15px
		p
			margin-bottom: 5px
	.bill__item
		margin-bottom: 20px		
	.bill__price, .bill__deliver
		+var
		font-size: 18px
		color: #18171d 
		margin-bottom: 10px
	.bill__text
		margin-bottom: 10px
		font-size: 14px
		+asbold
		color: #4a485b	
	.bill__cards
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin: 0 4px 
	.bill__pay
		display: inline-block
		margin-bottom: 5px
		padding: 5px 10px 15px 
		background: url(../img/total-price.png) 0 0 no-repeat
		-webkit-background-size: 100% 100% 
		-o-background-size: 100% 100% 
		background-size: 100% 100% 
		p
			margin-bottom: 0			
	.bill__total
		font-size: 28px
		+var
		color: #18171d 	
	.bill__agreement
		padding: 0 20px 	
		margin-bottom: 15px
	.bill__checkbox
		position: relative
		display: block
		text-align: left
		margin-bottom: 5px
		input
			position: absolute
			opacity: 0
		span
			position: relative
			+semi
			padding-left: 20px
			font-size: 12px
			color: #858490
			&:before
				content: ""
				position: absolute
				top: 1px
				left: 0
				width: 12px
				height: 12px
				border-radius: 2px
				border: 1px solid #ceced4
			&:after
				content: ""
				position: absolute
				top: 2px
				left: 1px
				+s(checkbox-small)
				display: none
		input:checked + span
			&:after
				display: block		
.phone-order
	text-align: center
	p
		+var
		font-size: 28px
		color: #595b48
	span
		+asbold
		font-size: 16px
		color: #858776
.delivery
	.title-h3
		margin: 0 
	.delivery__city
		text-align: center
		padding: 30px 0
		border-bottom: 1px dashed #cad6b3
	.delivery__step
		position: relative
		margin-bottom: 20px
		text-align: center
		.i
			position: relative
			top: 2px
		.delivery__indicator
			position: absolute
			top: 13px
			right: 22px
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				+s(check-mod)
			&.is-passed
				&:before
					+s(check-mod-green)
	.delivery__center
		width: 280px
		margin: 0 auto
		.selectfix-container
			font-size: 22px		
	.delivery__kind, .delivery__info
		padding: 30px 0 25px
		border-bottom: 1px dashed #cad6b3				 
		
.faraway
	text-align: center
	p
		margin-bottom: 12px
		+asbold
		font-size: 14px
		color: #595b48
		strong
			font-size: 16px
			+asblack 
	.faraway__type
		display: inline-block
		margin-bottom: 40px
		padding: 0 15px
		border-radius: 3px
		background: #f4fbdc
		+asblack
		font-size: 20px
		color: #595b48 
	.faraway__icon
		height: 31px
		width: 31px
		margin: 0 auto 10px 
		border-radius: 3px
		background: #a3a795
		padding-top: 7px
		text-align: center  
		span
			display: inline-block
			+s(check-delivery)
	.faraway__price
		+var
		font-size: 18px 			 			

// tabs
.tabs-wrap
	position: relative				
.tabs
	text-align: center
	margin-bottom: 18px
.btn-tab
	display: inline-block
	vertical-align: middle
	margin: 0 10px
	padding: 0 15px
	border-radius: 3px
	color: #42b0ef
	+asblack
	font-size: 20px
	span
		display: inline-block
		line-height: 1
		border-bottom: 1px dotted
	&:hover
		color: #42b0ef
		span
			border-color: transparent 	
	&.is-active
		background: #f4fbdc
		color: #595b48
		span
			border-bottom: none 	
// form grid
.form
	.form__row
		+clr
		margin: 0 -10px 20px
	.form__col
		float: left
		position: relative
		min-height: 1px
		padding: 0 10px 
	.form__col-1		
		width: 12.5%
	.form__col-2
		width: 25% 	 
	.form__col-3
		width: 37.5%
	.form__col-4
		width: 50%
	.form__col-5
		width: 62.5%
	.form__col-6
		width: 75%	
	.form__col-7
		width: 87.5%				
	.form__col-8
		width: 100%

.required-field
	color: #f04040
	+semi
	font-size: 18px

.text-field
	p
		+semi
		font-size: 18px
		color: #8c917b
		margin-bottom: 8px
	.text-field__block
		display: block
		padding: 2px 
		border-radius: 2px
		+g(#cad4aa, #dde6bf)
		input
			width: 100%
			height: 42px
			padding: 0 10px
			color: #4a485b
			+asbold
			font-size: 18px
			+placeholder

















				