// styles for order pages
.ordering
	position: relative
	text-align: center
	margin-bottom: 35px
	.ordering__in
		padding-top: 10px
		font-size: 0
		& > .i
			vertical-align: middle
			margin: 0 15px
	.ordering__step
		display: inline-block
		vertical-align: middle
		font-size: 0
		.i, span
			display: inline-block
			vertical-align: middle
		.i
			margin-right: 10px
			&.i-r-basket-green, &.i-r-money-green, &.i-r-check-green
				display: none 
		span
			+asbold
			font-size: 20px
			color: #888681
		&.is-active
			.i
				&.i-r-basket-green, &.i-r-money-green, &.i-r-check-green
					display: inline-block
				&.i-r-basket-gray, &.i-r-money, &.i-r-check-gray
					display: none
			span
				+asblack
				color: #4a485b			
.order-wrap
	max-width: 1280px
	margin: 0 auto 68px
	border-radius: 8px
	background: #e4ebcc
	border: 16px solid #fbfbfa
	box-shadow: 0 5px 49px rgba(0, 0, 0, 0.17)
.order
	background: #e4ebcc
	padding: 32px  
.bill
	position: relative
	background: #fff
	padding: 5px
	margin-bottom: 20px
	&:before
		content: ""
		position: absolute
		top: -24px
		left: -4px
		+s(remind-deco)
		+rotate(15)
		z-index: 2
	&:after
		content: ""
		position: absolute
		top: -2px
		right: 0
		width: 69px
		height: 67px
		background: url(img/paper.png) 0 0 no-repeat	
	.bill__in
		position: relative
		+g(#fff, #fbfafa)
		&:before
			content: ""
			position: absolute
			top: 156px
			right: -39px
			+s(ardecado-small)
			z-index: 2
		p
			font-size: 12px
			color: #858490
	.bill__topper
		text-align: center
		padding-top: 25px
		padding-bottom: 12px
		margin-bottom: 10px 
		border-bottom: 1px dashed #eee 
		.title-h6
			margin: 0
	.bill__content
		text-align: center
		padding-bottom: 15px
		p
			margin-bottom: 5px
	.bill__item
		margin-bottom: 20px		
	.bill__price, .bill__deliver
		+var
		font-size: 18px
		color: #18171d 
		margin-bottom: 10px
	.bill__bonus
		font-size: 14px
		+asbold
		color: #f08b1f 	
	.bill__text
		margin-bottom: 10px
		font-size: 14px
		+asbold
		color: #4a485b	
	.bill__cards
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin: 0 4px 
	.bill__pay
		display: inline-block
		margin-bottom: 5px
		padding: 5px 10px 15px 
		background: url(../img/total-price.png) 0 0 no-repeat
		-webkit-background-size: 100% 100% 
		-o-background-size: 100% 100% 
		background-size: 100% 100% 
		p
			margin-bottom: 0			
	.bill__total
		font-size: 28px
		+var
		color: #18171d 	
	.bill__agreement
		padding: 0 20px 	
		margin-bottom: 15px
	.bill__checkbox
		position: relative
		display: block
		text-align: left
		margin-bottom: 5px
		input
			position: absolute
			opacity: 0
		span
			position: relative
			+semi
			padding-left: 20px
			font-size: 12px
			color: #858490
			&:before
				content: ""
				position: absolute
				top: 1px
				left: 0
				width: 12px
				height: 12px
				border-radius: 2px
				border: 1px solid #ceced4
			&:after
				content: ""
				position: absolute
				top: 2px
				left: 1px
				+s(checkbox-small)
				display: none
		input:checked + span
			&:after
				display: block		
.phone-order
	text-align: center
	p
		+var
		font-size: 28px
		color: #595b48
	span
		+asbold
		font-size: 16px
		color: #858776
.delivery
	.title-h3
		margin: 0 
	.delivery__city
		text-align: center
		padding: 30px 0
		border-bottom: 1px dashed #cad6b3
	.delivery__step
		position: relative
		margin-bottom: 20px
		text-align: center
		.i
			position: relative
			top: 2px
		.delivery__indicator
			position: absolute
			top: 13px
			right: 22px
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				+s(check-mod)
			&.is-passed
				&:before
					+s(check-mod-green)
	.delivery__center
		width: 280px
		margin: 0 auto
		select
			width: 100%!important 	
	.delivery__kind, .delivery__info
		padding: 30px 0 25px
		border-bottom: 1px dashed #cad6b3
	.delivery__payment
		padding-top: 30px  					 
		
.faraway
	text-align: center
	p
		margin-bottom: 12px
		+asbold
		font-size: 14px
		color: #595b48
		strong
			font-size: 16px
			+asblack 
	.faraway__type
		display: inline-block
		margin-bottom: 40px
		padding: 0 15px
		border-radius: 3px
		background: #f4fbdc
		+asblack
		font-size: 20px
		color: #595b48 
	.faraway__icon
		height: 31px
		width: 31px
		margin: 0 auto 10px 
		border-radius: 3px
		background: #a3a795
		padding-top: 7px
		text-align: center  
		span
			display: inline-block
			+s(check-delivery)
	.faraway__price
		+var
		font-size: 18px 			 			

// tabs
.tabs-wrap
	position: relative				
.tabs
	text-align: center
	margin-bottom: 18px
.btn-tab
	display: inline-block
	vertical-align: middle
	margin: 0 10px
	padding: 0 15px
	border-radius: 3px
	color: #42b0ef
	+asblack
	font-size: 20px
	span
		display: inline-block
		line-height: 1
		border-bottom: 1px dotted
	&:hover
		color: #42b0ef
		span
			border-color: transparent 	
	&.is-active
		background: #f4fbdc
		color: #595b48
		span
			border-bottom: none 	
// form grid
.form
	.form__row
		position: relative
		+clr
		margin: 0 -10px 20px
		p
			+semi
			font-size: 13px
			color: #8c917b
			margin-bottom: 8px
	.form__link
		display: inline-block
		color: #42b0ef
		line-height: 1
		border-bottom: 1px dotted
		+tr(border-color 300ms)
		&:hover
			border-color: transparent
			text-decoration: none 		
	.form__col
		float: left
		position: relative
		min-height: 1px
		padding: 0 10px 
	.form__col-1		
		width: 12.5%
	.form__col-2
		width: 25% 	 
	.form__col-3
		width: 37.5%
	.form__col-4
		width: 50%
	.form__col-5
		width: 62.5%
	.form__col-6
		width: 75%	
	.form__col-7
		width: 87.5%				
	.form__col-8
		width: 100%
.add-row
	background: transparent
	position: absolute
	top: 41px
	right: -34px
.remove-row
	position: absolute
	top: 50%
	right: -34px
	margin-top: -7px 
	background: transparent 
.i-remove
	+s(remove)	
.required-field
	color: #f04040
	+semi
	line-height: 1
	font-size: 18px

.text-field
	position: relative
	margin-top: 20px
	&:first-child
		margin-top: 0 
	.error__message
		display: none
		padding-top: 6px
		font-size: 14px
		color: #cc9696
		+semi
	&.error
		.text-field__block
			+g(#ecb1b1, #f3bcbc)
		.error__message
			display: inline-block	
	p
		+semi
		font-size: 13px
		color: #8c917b
		margin-bottom: 8px
		+text-overflow
	.text-field__block
		display: block
		padding: 2px 
		border-radius: 2px
		+g(#cad4aa, #dde6bf)
		input
			width: 100%
			height: 42px
			padding: 0 10px
			color: #4a485b
			+asbold
			font-size: 18px
			+placeholder
				line-height: 1.2
				color: rgba(#4a485b, 0.4)
				font-size: 24px
				+asbold
.phone-field
	+clr
	.text-field__block	
		float: right
		width: 64%
		&:first-child
			float: left
			width: 30%	
.checkbox-wrapper
	height: 46px
	margin-top: 26px
	padding: 13px 10px 
	border-radius: 3px
	background: #dbe3c2
.checkbox
	display: inline-block
	cursor: pointer
	+nosel
	input
		position: absolute
		opacity: 0
	input + span
		position: relative
		display: inline-block
		padding-left: 23px
		+asbold
		font-size: 16px
		color: #595b48
		&:before
			content: ""
			position: absolute
			top: 1px
			left: 0
			width: 14px
			height: 14px
			border-radius: 2px
			background: #fff
		&:after
			content: ""
			position: absolute
			top: 3px
			left: 3px
			+svg(check, 10, 9) 
			opacity: 0
	input:checked + span
		&:after
			opacity: 1
	input:disabled + span
		color: #b1b1b1			
.save-checkbox
	display: block
	cursor: pointer
	+nosel
	input
		position: absolute
		opacity: 0
	input + span
		position: relative
		display: inline-block
		padding-left: 23px
		+semi
		font-size: 13px
		color: #595b48
		&:before
			content: ""
			position: absolute
			top: 1px
			left: 0
			width: 14px
			height: 14px
			border-radius: 2px
			background: #afb39c
		&:after
			content: ""
			position: absolute
			top: 3px
			left: 3px
			+svg(check-white, 10, 9) 
			opacity: 0
	input:checked + span
		&:after
			opacity: 1 
.payment
	+clr
	.payment__row
		+clr
		padding-left: 12.5%
	.payment__col
		float: left
		width: 50%
	.payment__info
		clear: both
		padding: 10px
		border-radius: 4px
		background: #f4fbdc
		+reg
		font-size: 13px
		color: #595b48
		a
			text-decoration: none
			color: #54b6ee
			&:hover
				text-decoration: underline	
.radio
	display: block
	input
		position: absolute
		opacity: 0
	input + span
		position: relative
		display: inline-block
		cursor: pointer
		margin-left: 23px
		+asbold
		font-size: 16px
		color: #595b48
		img, i
			display: inline-block
			vertical-align: middle
			margin-left: 5px 
		&:before
			content: ""
			position: absolute
			top: 3px
			left: -23px
			width: 14px
			height: 14px
			border-radius: 50%
			background: #fff
	input:checked + span
		&:before
			border: 3px solid #b0b59d	
	&.radio_map
		input + span
			&:before
				background: #f4f4f4
				box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15) 					
		input:checked + span
			background: #fff87d 
// autocomplete
.ui-autocomplete
	position: absolute!important
	max-width: 100% 
	max-height: 135px
	overflow-y: auto
	overflow-x: hidden
	background: #fff
.ui-autocomplete
	box-shadow: 0 5px 21px rgba(0, 0, 0, 0.19)
	border-radius: 0 0 4px 4px
	.ui-menu-item
		a
			display: block
			height: 52px
			padding: 5px 10px
			p
				font-size: 12px
				color: #8c917b
				+reg
				strong
					font-size: 14px
					+semi
					color: #595b48
			&:hover
				text-decoration: none	
				background: #f4f4f4 	
	&.scrollable
		.scroll-bar.vertical
			right: 5px
			width: 7px
			z-index: 2
	.overview
		width: 100%     
	&.scrollable
		.scroll-bar.vertical
			.thumb
				&:before
					content: ""
					position: absolute
					top: 5px
					bottom: 5px
					left: 0
					right: 0
					background: rgba(#000, 0.33)
					border-radius: 7px 
					cursor: pointer	
					
// timeline
.timeline-wrap
	padding: 0 55px
	margin-bottom: 19px
.timeline
	position: relative
	.slick-list
		padding: 0 10px 
		z-index: 2
	.slick-track
		padding: 10px 0 
	.timeline__item
		position: relative
		text-align: center
		border-radius: 6px
		&:after
			content: ""
			position: absolute
			top: 11px
			bottom: 11px
			right: 0
			width: 1px
			background: #f2f2f2 
		&:first-child
			&:before
				content: ""
				position: absolute
				top: 11px
				bottom: 11px
				left: 0
				width: 1px
				background: #f2f2f2 	
		&.is-active
			position: relative
			background: #fff
			box-shadow: 0 0 0 10px #fd8282
			z-index: 999
		&.weekend
			.timeline__weekday
				color: #f57f90
	.timeline__in
		height: 65px 
		padding: 5px 0 
		background: #fff
		cursor: pointer 	
	.timeline__day
		color: #4a485b
		+asblack
		font-size: 20px
		line-height: 1.2
	.timeline__nonth						
		font-size: 13px
		+semi
		color: #4a485b
	.timeline__weekday
		font-size: 12px
		+semi
		color: #a5a5a5	
// daytime
.daytime
	padding-bottom: 20px
.radiotime
	text-align: center
	&.is-selected
		.radiotime__price
			background: #f4fbdc 
	.radiotime__title
		margin-bottom: 10px
		+asblack
		color: #595b48
		font-size: 16px			
	.radiotime__options
		font-size: 0
		margin-bottom: 7px
		span, input
			display: inline-block
			vertical-align: middle
			font-size: 14px
			+asbold
			color: #595b48  
		input
			margin: 0 4px
			width: 43px
			height: 26px
			border-radius: 5px
			background: #fff 
			text-align: center
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06)
		input:disabled
			box-shadow: none
			background: transparent 	
	.radiotime__price	
		display: inline-block
		padding: 3px 7px
		border-radius: 5px 		
		+var
		color: #595b48
		font-size: 18px
.radio-big
	position: relative
	margin-bottom: 15px
	input
		position: absolute
		opacity: 0
	input + span
		display: inline-block
		width: 31px
		height: 31px
		border-radius: 50%
		background: #e4ebcc 
		border: 3px solid #c2c9ac
	input:checked + span
		border: 10px solid #a3a795		
.checkbox-big
	position: relative
	margin-bottom: 15px
	input
		position: absolute
		opacity: 0
	input + span
		display: inline-block
		width: 31px
		height: 31px
		border-radius: 4px
		background: #e4ebcc 
		border: 3px solid #c2c9ac
	input:checked + span
		background: #a3a795
		border-color: #a3a795
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 6px
			+s(check-delivery)
.accuracy
	text-align: center	
	&__title
		margin-bottom: 10px
		+asblack
		color: #595b48
		font-size: 16px
	&__select
		display: inline-block
		width: 120px	
		margin-bottom: 5px
	&__price
		display: inline-block
		padding: 3px 7px
		border-radius: 5px 		
		+var
		color: #595b48
		font-size: 18px	
.select_time
	.ms-choice
		height: 27px
		line-height: 27px
		padding-left: 8px 
		span
			font-size: 12px
			padding-left: 7px 
	.ms-drop
		ul
			& > li
				&.selected
					label
						&:before
							display: none
				label
					padding: 11px 
.acc-payment
	width: 326px
	padding: 3px 13px
	border-radius: 5px
	margin-bottom: 10px
	background: #f4fbdc
	p
		margin-top: 10px
		margin-bottom: 10px
		color: #595b48
		font-size: 13px
		line-height: 1.2 
		+reg
	.acc-payment__in
		& > span
			display: inline-block
			vertical-align: middle
			+asbold
			font-size: 24px
			color: #382f2f 
		.text-field
			width: 110px
			display: inline-block
			vertical-align: middle
			margin-right: 10px
			
// map
.map
	height: 500px
	padding: 20px 20px 20px 15px 
	background-color: #fff
	border-radius: 6px
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)	
	&.is-border
		position: relative
		border: 18px solid #fff
		border-radius: 18px
		+box	
	.map__in
		position: relative
		+clr
		height: 100% 
	.map__list
		float: left
		width: 270px
		padding-right: 50px
		height: 100% 
		overflow-y: auto 
	.map__items 
		& > li
			border-bottom: 1px solid #f9f9f9  
			ul
				padding-left: 23px
				li
					margin-bottom: 10px 
					+reg
					color: #595b48
					font-size: 14px
	.map__canvas
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 284px
#YMapsID
	position: absolute
	top: 0
	right: 0
	bottom: 0	
	left: 0			 		

.entity
	position: relative
	margin-left: -12.5%
	clear: both
	border-radius: 6px
	background: #ecece4 
	padding: 25px 21px 21px
	&:before
		content: ""
		position: absolute
		top: -10px
		right: 35%
		+arr(26, 10, #ecece4, t)
	.entity__block
		font-size: 0
		margin-bottom: 10px
		.radio
			display: inline-block
			vertical-align: middle 
			margin: 0 0 0 23px 
	.entity__title
		display: inline-block
		vertical-align: middle
		font-size: 16px
		color: #000
		+asbold  	
	.form__row
		+clr
		margin: 0 0 20px -3% 
		& > div
			float: left
			margin-left: 3%
		.text-field
			.text-field__block
				background: #dedfd9
			&.error
				.text-field__block
					background: #ecb0b0 	 	
	.entity__col-1
		width: 15% 
	.entity__col-2
		width: 19%
	.entity__col-3
		width: 25% 	
	.entity__col-4
		width: 29% 		
	.entity__col-5
		width: 35% 		
	.entity__col-6
		width: 43% 
	.entity__col-7
		width: 51% 	










				