.catalog__divider
	clear: both
.productbottom
	text-align: center
	clear: both
	margin-bottom: 30px 
	padding-top: 16px 
	a
		margin: 0 9px 
		&:hover
			text-decoration: none

.productmain
	.breadcrumbs
		margin: 10px 0